<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
  <div class="sp-main-wrapper">

    {% include header.html %}

    <div class="sp-content">
      {{ content }}
    </div>
    
    
    <div class="sp-sidebar">
        
      <div class='sp-sidebar-item'>
        
        <div class='sp-sidebar-item-head'>Recent Posts</div>
        
        {% for post in site.posts limit:5 %}<div class='sp-sidebar-item-head'><a href="{{ post.url }}">{{ post.title }}</a></div>{% endfor %}
      
      </div>
        
    </div>  

    <div style="clear: both"></div>
    
  </div>

  </body>

</html>
