---
layout: default
---
  
  <div class="sp-content-item">

    <div class="sp-content-item-head">{{ page.title }}</div>

    <div class="sp-content-item-head-secondary">
      {{ page.date | date: "%B" }}
      {{ page.date | date: "%d" }},
      {{ page.date | date: "%Y" }} - 
      <a target="_blank" href="//github.com/{{ site.github_username }}/{{ site.github_username }}.github.io/edit/master/{{ page.path }}" target="_blank">edit</a> - 
      {% for tag in page.tags %}{% capture tag_name %}{{ tag }}{% endcapture %}
            <a href="/tag/{{ tag_name }}">{{ tag_name }}</a> 
      {% endfor %}    
    </div>

    <div class="sp-content-item-body">
      {{ content }}
    </div>

  </div>
