---
layout: default
---

<section id="post">

  <article class="post">

    <h1 class="post-title">
      <a>{{ page.title }}</a>
    </h1>
    <!-- title -->

    <div class="post-meta">
      <ul class="list-inline">
        <li>
            {{ page.date | date: "%B" }}
            {{ page.date | date: "%d" }},
            {{ page.date | date: "%Y" }}
        </li>
        <li>
          <a href="//github.com/{{ site.github_username }}/{{ site.github_username }}.github.io/edit/master/{{ page.path }}" target="_blank"><i class="fa fa-github"></i>&nbsp;Edit this post on GitHub</a>
        </li>
      </ul>
    </div>
    <!-- meta -->

    <section class="post-content">
      {{ content }}
    </section>
    <!-- content -->


    <footer class="post-footer">
    </footer>

  </article>

</section>
